/node_modules
/vendor
/public/hot
/public/storage
/public/js
/public/css/*.css
/public/css/*.map
/public/css/*.gz
/public/images/*.gif
/public/fonts/
/public/admin/
/public/client/
/public/css/
/public/stats.html
/public/*.js
/public/*.js.map
/public/mix-manifest.json
/storage/*.key
.env
.env.backup
.idea
.vscode
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
